.cart-container{
    background-color: rgb(232, 192, 132);
    padding: 25px;
    position: sticky;
    top: 15px;
}

.cart-container p{
    font-size: 18px;
    color: white;
}

.clear-btn{
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    font-weight: bold;
    align-items: center;
}